# Add any directories, files, or patterns you don't want to be tracked by version control

*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.vagrant
.sass-cache
site.retry
*.map
*.sublime-project
*.sublime-workspace
sftp-config.json
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
htdocs/mailform/mailformpro/add-ons
htdocs/mailform/iplogs
htdocs/mailform/mfp.statics/images
htdocs/mailform/mfp.statics/_cart.css
htdocs/mailform/mfp.statics/_example.css
htdocs/mailform/mfp.statics/_mailformpro.css
htdocs/mailform/mfp.statics/audios
htdocs/mailform/mfp.statics/cart.css
htdocs/mailform/mfp.statics/cart.js
htdocs/mailform/mfp.statics/example.css
htdocs/mailform/mfp.statics/thanks.js
htdocs/mailform/mailformpro/configs
htdocs/mailform/mailformpro/data
htdocs/mailform/mailformpro/librarys
htdocs/mailform/mailformpro/config.example.cgi
htdocs/mailform/mailformpro/mailformpro.cgi
ftpconfig.json
htdocs/wp-content/ewww
prepros-6.config
